.tab-nav {
  height: 1.02rem;
  line-height: 1.02rem;
  background: #fff;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;/*no*/
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  ul {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    li {
      display: block;
      height: 100%;
      box-flex: 1;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      flex: 1;
      text-align: center;

      .nav-item {
        position: relative;
        display: block;
        width: 100%;
        font-size: .28rem;
        color: #666;
        &.active{
          color: #4E7CDD;

          span{
            display: inline-block;
            position: relative;

            &:after {
              content: '';
              display: block;
              width: 100%;
              height: .06rem;
              border-bottom: 6px solid #4E86DD;/*no*/
              position: absolute;
              bottom: -3.5px;/*no*/
              z-index: 1;
              -webkit-transform-origin: 0 0;
              -ms-transform-origin: 0 0;
              transform-origin: 0 0;
              -webkit-transform: scaleY(0.5);
              -ms-transform: scaleY(0.5);
              transform: scaleY(0.5);
            }
          }

        }
      }
    }
  }
}

.tab-item{
  display: none;
  &.show {
    display: block;
  }
}
