@import "./li-status-style";


.t-box {
  position: relative;
  height: 100%;
  top: -1rem;

  .t-box-content {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);

    .t-header {
      background: linear-gradient(to right, #5588D7, #4261D6);
      display: -webkit-box;
      -webkit-box-pack: justify;
      -webkit-box-align: center;
      position: relative;
      padding: 0 .32rem;
      box-sizing: border-box;
      height: 1.6rem;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        border-bottom: 1px solid #fff;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }

      .t-pickup-time,
      .t-return-time {
        color: #fff;
        height: 1.6rem;
        width: 2.7rem;
        box-sizing: border-box;

        .t-animate-box {
          height: 3.2rem;
          width: 100%;

          &.zzc-animation-up-slide{
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            transition: transform .5s;
            -webkit-transition: transform .5s;

            &.in{
              transform: translateY(-1.6rem);
              -webkit-transform: translateY(-1.6rem);
            }
          }

          .t-time-box {
            position: relative;
            height: 1.6rem;
            width: 2.7rem;

            .t-time-info {
              width: 2.7rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              -webkit-transform: translate3d(-50%, -50%, 0);

              div {
                background: transparent;
                padding: 0;
                display: -webkit-box;
                -webkit-box-pack: justify;
                -webkit-box-align: center;
                width: 2.7rem;

                span {
                  display: block;
                }

                .t-day,
                .t-time {
                  font-size: .36rem;
                  font-weight: 400;
                }

                .t-title,
                .t-week {
                  font-weight: 200;
                  font-size: .24rem;
                }

              }
            }

            .t-placeholder {
              font-size: .36rem;
              color: #fff;
              width: 2.7rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              -webkit-transform: translate3d(-50%, -50%, 0);

              p {
                width: 100%;
                font-weight: 200;
                text-align: center;
                padding: 0;
                background: transparent;
              }
            }
          }
        }

      }
      .t-total-day {
        font-size: .24rem;
        color: #fff;
        position: relative;
        border: 1px solid #e1e1e1; /*no*/
        border-radius: .3rem;
        padding: .07rem .2rem;
        font-weight: 200;

      }

      .t-none-day {
        font-size: .6rem;
        color: #fff;
        position: relative;
        font-weight: 200;

        i{
          vertical-align: middle;
          width: .36rem;
          height: .36rem;
          display: block;

          &.iconfont-arrows {
            background-image: url('../../icons/arrows.png');
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }

      }

    }

    .week-list {
      ul {
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
        list-style: none;
        position: relative;
        box-shadow: 0 .1rem .1rem #e8e8e8;
        box-sizing: border-box;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: block;
          width: 100%;
          border-bottom: 1px solid #D8D8D8;
          -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          -webkit-transform: scaleY(0.5);
          -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
        }

        li {
          padding: .1rem 0;
          color: #333;
          font-size: .24rem;
          -webkit-box-flex: 1;
          box-sizing: border-box;
          text-align: center;

        }
      }
    }

    .day-list-box {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);

      & > div {
        padding-bottom: 3.04rem;
      }

      .day-item {

        .day-item-title {
          font-size: .32rem;
          color: #333;
          padding: .56rem 0 .46rem .2rem;
          font-weight: 400;
        }

        ul {
          list-style: none;
          display: -webkit-box;
          -webkit-box-pack: justify;
          -webkit-box-align: center;
          color: #333;
          font-weight: 400;

          &:not(:first-child){
            padding-top: .3rem;
          }

          li {
            color: #333;
            font-size: .36rem;
            -webkit-box-flex: 1;
            box-sizing: border-box;
            text-align: center;
            height: .94rem;
            position: relative;
            position: relative;

            &.gone {
              span{
                color: #999!important;
                font-weight: 200!important;
              }
            }

            &.start,
            &.end {
              span {
                background: #2B76DB;
                color: #fff;
              }
            }

            &.start {
              &.before:before {
                display: block;
                content: '';
                background: #E7F3FF;
                height: 100%;
                width: 50%;
                float: right;
              }
            }
            &.end {
              &.before:before {
                display: block;
                content: '';
                background: #E7F3FF;
                height: 100%;
                width: 50%;
                float: left;
              }
            }

            &.active {
              background: #E7F3FF;
              span {
                color: #2B76DB;
              }
            }

            span {
              position: absolute;
              line-height: .94rem;
              text-align: center;
              display: block;
              width: .94rem;
              height: .94rem;
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
              -webkit-transform: translate3d(-50%, -50%, 0);

              i{
                position: absolute;
                bottom: 0;
                left: 0;
                width: .94rem;
                height: .3rem;
                text-align: center;
                display: block;
                font-size: .26rem;
                color: #333;
                transform: translateY(-100%);
                -webkit-transform: translateY(100%);
                line-height: .3rem;
              }
            }
          }
        }

      }

    }

  }

  .bottom-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.04rem;
    background: #fff;
    display: block;
    box-shadow: 0 -.1rem .1rem #e8e8e8;
    box-sizing: border-box;

    .bottom-controller-box{
      position: absolute;
      top:0;
      left: 0;
      right:0;
      bottom:0;
      z-index: 92;
      padding: .34rem 0;
      background: #fff;

      .range-box:not(:first-child) {
        margin-top: .34rem;
      }

      .confirm-box {
        padding: 0 .34rem;
        cursor: pointer;
        margin-top: .34rem;

        span{
          padding: .18rem 0;
          display: block;
          color: #fff;
          background: #4079DC;
          width: 100%;
          font-size: .36rem;
          text-align: center;
          border-radius: .05rem;
          text-align: center;
        }
      }
    }

  }

}

.range-box {
  display: -webkit-box;
  -webkit-box-align: center;
  height: .44rem;

  i{
    display: block;
    width: .34rem;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 999;
  }

  .title {
    height: 100%;
    width: .96rem;
    color: #333333;
    font-size: .24rem;
    padding: 0 .15rem 0 0;
    display: -webkit-box;
    -webkit-box-align: center;
  }

  .range-content {
    height: .44rem;
    -webkit-box-flex: 1;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;

    .range-content-bg {
      width: 100%;
      height: .02rem;
      background: #4079DC;
    }

    .range-btn-box {
      width: 100%;
      height: .44rem;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      -webkit-box-align: center;
      z-index: 999;

      .range-btn {
        border: 1px solid #2B76DB;/*no*/
        background: #fff;
        color: #2B76DB;
        height: .42rem;
        width: 1.1rem;
        border-radius: .23rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: .24rem;
        text-align: center;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        box-sizing: border-box;

        &.active{
          background: #2B76DB;
          color:#fff;
        }

      }

      .range-btn-bg {
        width: 100%;
        height: .025rem;
        background: #D7D7D7;
      }
    }

  }

}
