.day-item{

  .e-{

    &row-6{
      li[data-colume='7']{
        background: #fff;
        span {
          color: #333;
        }
      }

      li{
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }
    }

    &row-5{
      li[data-colume='7'],
      li[data-colume='6']{
        background: #fff;
        span {
          color: #333;
        }
      }

      li{
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }
    }

    &row-4{
      li[data-colume='7'],
      li[data-colume='6'],
      li[data-colume='5']
      {
        background: #fff;
        span {
          color: #333;
        }
      }

      li{
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }
    }

    &row-3{
      li[data-colume='1'],
      li[data-colume='2'],
      li[data-colume='3']
      {
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }

      li{
        background: #fff;
        span {
          color: #333;
        }
      }
    }

    &row-2{
      li[data-colume='1'],
      li[data-colume='2']
      {
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }

      li{
        background: #fff;
        span {
          color: #333;
        }
      }
    }

    &row-1{
      li[data-colume='1']
      {
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }

      li{
        background: #fff;
        span {
          color: #333;
        }
      }
    }

  }

  .s-{
    &row-6{
      li[data-colume='1']
      {
        background: #fff;
        span {
          color: #333;
        }
      }

      li{
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }
    }

    &row-5{
      li[data-colume='1'],
      li[data-colume='2']
      {
        background: #fff;
        span {
          color: #333;
        }
      }

      li{
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }
    }

    &row-4{
      li[data-colume='1'],
      li[data-colume='2'],
      li[data-colume='3']
      {
        background: #fff;
        span {
          color: #333;
        }
      }

      li{
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }
    }

    &row-3{
      li[data-colume='5'],
      li[data-colume='6'],
      li[data-colume='7']
      {
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }

      li{
        background: #fff;
        span {
          color: #333;
        }
      }
    }

    &row-2{
      li[data-colume='6'],
      li[data-colume='7']
      {
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }

      li{
        background: #fff;
        span {
          color: #333;
        }
      }
    }

    &row-1{
      li[data-colume='7']
      {
        background: rgba(64,121,220,.2);
        span {
          color: #333333;
        }
      }

      li{
        background: #fff;
        span {
          color: #333;
        }
      }
    }
  }

  .row-1{
    li[data-colume='1']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .row-2{
    li[data-colume='2']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .row-3{
    li[data-colume='3']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .row-4{
    li[data-colume='4']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .row-5{
    li[data-colume='5']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .row-6{
    li[data-colume='6']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .row-7{
    li[data-colume='7']{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }

  .full{
    li{
      background: rgba(64,121,220,.2);
      span {
        color: #333333;
      }
    }
  }
}