@import '../../icons/icon.scss';

.zzc-dialog-btn{
  display: -webkit-box;
  -webkit-box-align: center;

  i{
    font-size: .28rem;
    display: block;
  }
}

.zzc-popup{
  font-family: -apple-system, Helvetica, 'Hiragino Sans GB W3', arial, sans-serif;
}
