.zzc-popup{

  .popup-mark{
    height:100%;
    width: 100%;
    background: rgba(0,0,0,.3);
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
  }

  .popup-content{
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    width: 100%;
    height:5rem;

    &.bottom{
      bottom:0;
    }

    &.top{
      top:0;
    }
  }
}