.switch-box {
    width: .9rem;
    height: .54rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: all .2s;
    -webkit-transition: all .2s;
    display: -webkit-box;
    -webkit-box-align: center;

    &.switch-disabled{
        opacity: .3;
    }

    &.open {
        background: #254FCB;
        border:1px solid #254FCB;
        /*no*/
        .round {
            transform: translate3d(.39rem, 0, 0);
            -webkit-transform: translate3d(.39rem, 0, 0);
        }
    }
    &.close {
        /*no*/
        background: #E7E7E7;
        border:1px solid #d8d8d8;
        .round {
            transform: translate3d(.04rem, 0, 0);
            -webkit-transform: translate3d(.04rem, 0, 0);
        }
    }

    .round {
        background: #fff;
        display: block;
        width: .47rem;
        height: .47rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        transition: all .2s;
        -webkit-transition: all .2s;
    }
}