
.modal {
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 1001;
    opacity: 0;
    -webkit-opacity: 0;
    transition: all .1s;
    -webkit-transition: all .1s;

    &.show{
      opacity: 0.8;
      -webkit-opacity: 0.8;
    }
  }
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    transition: all .3s;
    -webkit-transition: all .3s;
    width: 60%;
    height:60%;
    margin: auto;
    opacity: 0;

    &.show{
      width: 100%;
      height: 100%;
      margin: auto;
      opacity: 1;
    }
  }
  &-content {
    position: absolute;
    top: 1.2rem;
    right: .32rem;
    bottom: 2rem;
    left: .32rem;
    background: #fff;
    border-radius: 8px; /*no*/
    overflow: hidden;
  }
  &-content-box{
    transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0;
    -webkit-opacity: 0;

    &.show{
      opacity: 1;
      -webkit-opacity: 1;
    }
  }
  &-close {
    position: absolute;
    bottom: .8rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border: 2px solid rgba(255,255,255,0.5); /*no*/
    width: .8rem;
    height: .8rem;
    background: transparent;
    border-radius: 50%;
    outline: 0;
    padding: 0;

    &:before,&:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px; /*no*/
      display: block;
      width: .38rem;
      height: 2px; /*no*/
      background: #fff;
    }
    &:before{
      transform: translateX(-50%) rotate(45deg);
      -webkit-transform: translateX(-50%) rotate(45deg);
    }
    &:after{
      transform: translateX(-50%) rotate(-45deg);
      -webkit-transform: translateX(-50%) rotate(-45deg);
    }
  }
}

