.modal {
  
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 1001;
    opacity: 0;
    -webkit-opacity: 0;
    transition: all .1s;
    -webkit-transition: all .1s;
    &.show {
      opacity: 0.8;
      -webkit-opacity: 0.8;
    }
  }
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    transition: all .3s;
    -webkit-transition: all .3s;
    width: 3rem;
    height: 2.1rem;
    margin: auto;
    opacity: 0;
    &.show {
      height: 9rem;
      width: 6.3rem;
      margin: auto;
      opacity: 1;
    }
  }
  &-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-content {
    position: absolute;
    background: #fff;
    border-radius: 8px;
    /*no*/
    overflow: hidden;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: end;

    
  }
  &-content-box {
    transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0;
    -webkit-opacity: 0;
    -webkit-box-flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    &.show {
      opacity: 1;
      -webkit-opacity: 1;
    }
  }
  &-btn-group{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    width: 100%;
    .modal-close{
      -webkit-box-flex: 1;
      width: 100%;
      &:not(:last-child){
        border-right: 1px solid #e8e8e8;
      }

    }
  }
  &-close {
    height: 1rem;
    color: #4E7CDD;
    font-size: .32rem;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: relative;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
      -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  
}