.loading-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  &.show {
    display: block;
  }

  .loading-marker {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
  }

  .loading-box {
    z-index: 10000;
    position: absolute;
    width: 4rem;
    height: 2rem;
    background: #fff;
    border-radius: .05rem;
    padding: .1rem;
    top: 50%;
    right: 0;
    //bottom: 0;
    left: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    img {
      margin: .3rem auto 0;
      display: block;
      width: 1rem;
      height:auto;
    }

    p {
      text-align: center;
      color: #333;
      font-size: .28rem;
      margin-top: .1rem;
    }

  }

}

