.zzc-section {
  background: #FFFFFF;

  &-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    position: relative;
    padding: 0 32px;
    height: 100px;
    background: #fff;
    vertical-align: middle;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    &:after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid #D8D8D8;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }

    >div {
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      text-align: left;
      font-size: 32px;
    }

    &-extra {
      -webkit-flex-basis: 22%;
      flex-basis: 22%;
      text-align: right;
      font-size: 24px;
      color: #777;
    }

    &-arrow {
      display: block;
      margin-left: 10px;
      height: 24px;
      line-height: 1;
      font-size: 24px;
      color: #aaa;
    }
  }

  &-content {
    padding: 30px;
  }
}

