body,html{
  background: #e8e8e8;
  height:100%;
}
*{
  margin:0;
  padding: 0;
}
img{
  width: auto;
  height: auto;
}
#root{
  font-size: .3rem;
}

button{
  font-size: .3rem;
  background: #fff;
  border:1px solid #e1e1e1;/*no*/
  padding: .3rem;
}

.modal-box{
  padding: .2rem;

  .title{
    text-align: center;
  }

  .content{

  }
}