
.zzc-animation-fade{
  transition: opacity .3s;
  -webkkit-transition: opacity .3s;
  opacity: 0;

  &.fade-in{
    opacity: 1;
  }
}

.zzc-animation-silde{
  transition: transform .3s;
  transition: -webkit-transform .3s;
  -webkkit-transition: transform .3s;
  -webkkit-transition: -webkit-transform .3s;

  &.silde-bottom{
    transform: translateY(200%);
    -webkit-transform: translateY(200%);

    &.silde-in{
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
}