.zzc-animation-fade {
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  opacity: 0;
  &.fade-in {
    opacity: 1;
  }
}

.zzc-animation-slide {
  transition: all .2s;
  -webkit-transition: all .2s;
  &.slide-bottom {
    transform: translateY(100%);
    -webkit-transform: -webkit-translateY(100%);
    &.slide-in {
      transform: translateY(0);
      -webkit-transform: -webkit-translateY(0);
    }
  }
}